
Backend/data/Cleaning/Weekdays
Backend/data/MSSD/track_features
Backend/data/MSSD/mini_data
Backend/.env
Backend/data
Backend/__pycache__
frontend/node_modules
# Local Netlify folder
frontend/.netlify